.ShoppingForm, input {
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px skyblue;
    border-radius: 25px;
    text-align: center;

}

.ShoppingFormHeader {
    padding: 0.5em;
}

.ShoppingForm {
    padding: 0.3em;
}