.ShoppingListItem {
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px skyblue;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    margin: 1em;
    padding: 1em;
    /* max-width: 4em; */
}